<div>
  <div class="py-2 px-2">
    <h2 class="font-semibold text-2xl">Active</h2>
  </div>
  <div class="py-2 px-2">
  <%= live_render(@conn, DeepWorkHoursWeb.TimerLive) %>
  </div>
  <div class="py-2 px-2">
    <h2 class="font-semibold text-2xl">History</h2>
  </div>
  <div class="py-2">
  <%= live_render(@conn, DeepWorkHoursWeb.EntriesListLive) %>
  </div>
</div>